:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --b-radius: 4px;
  --b-radius-top: var(--b-radius) var(--b-radius) 0 0;
  --b-radius-bot: 0 0 var(--b-radius) var(--b-radius);
  --light-bdr: 1px solid #dadada;
  --color1: hsl(157, 75%, 27%);
  --color2: hsl(120, 75%, 27%);
  --color3: hsl(65, 75%, 27%);
  --color4: hsl(210, 75%, 27%);
  --color5: hsl(300, 75%, 27%);
  --colorlg1: hsl(157, 76%, 87%);
  --colorlg2: hsl(120, 75%, 87%);
  --colorlg3: hsl(65, 75%, 87%);
  --colorlg4: hsl(210, 75%, 87%);
  --colorlg5: hsl(300, 75%, 87%);
}

#root {
  width: 100%;
}
#root:only-child {
  width: fit-content;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  /* transition: color, fill, 200ms; */
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Ubuntu", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

button {
  border: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* LOGO */

.complete-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  aspect-ratio: 1;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  resize: both;
  z-index: 5;
  /* alterar dps que for fazer efieto */
  margin: 0 auto;
}
header {
  overflow-x: hidden;
  overflow-y: hidden;
}

.car-logo {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Mantém a proporção 1:1 */
}

.car-logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Mantém a proporção */
}

.text-logo {
  position: absolute;
  width: fit-content;
  right: 11%;
  bottom: 24%;
}
.text-logo > div:nth-child(1) {
  font-family: "Inter";
  font-weight: 700;
  font-size: 28px;
  line-height: 0.5;
  text-align: right;
}
.text-logo > div:nth-child(2) {
  font-size: 14px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}
.mini .car-logo {
  width: 60%;
  left: 38%;
  bottom: 4%;
}
.mini .text-logo {
  bottom: 24%;
  left: 30%;
}

.mini .text-logo > div:nth-child(1) {
  text-align: left;
}
.mini .complete-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  aspect-ratio: 1;
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  resize: both;
}

.codes {
  display: grid;
  gap: 10px;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 48px;
}
.setup {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 14px;
}
.setup input {
  padding: 3px 0 3px 13px;
  font-size: 14px;
  width: 70px;
  text-align: center;
  font-weight: 600;
  border: none;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #dadada;
  font-family: "Ubuntu";
}
.toogle-code > button {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 8px 14px;
  border: 1px solid #dadada;
  background-color: #ffffff;
  border-radius: var(--b-radius);
  transition: all 200ms;
}
.toogle-code.open > button {
  border-radius: var(--b-radius-top);
}
.open .code-box {
  border-radius: var(--b-radius-bot);
  border: var(--light-bdr);
  border-top: 0;
  display: flex;
  flex-direction: row;
  position: relative;
}
.code-box > div {
  border-radius: var(--b-radius-bot);
  width: 0;
  flex-grow: 1;
}
.code-box > div > div,
.code-box > div > div > div {
  border-radius: var(--b-radius-bot);
}
.open .code-box > div > div {
  height: fit-content;
  transition: all 200ms;
}

.toogle-code.open .icon svg {
  transform: rotate(-180deg);
}
.code-box > div > div {
  height: 0;
  transition: all 200ms;
}
.toogle-code > button:hover {
  border: 1px solid #212121;
}
.btn {
  border-radius: var(--b-radius);
  font-weight: 500;
  padding: 10px 14px;
  background-color: #242424;
  width: fit-content;
  color: #f9f9f9;
  cursor: pointer;
}
.btn.add-test {
  background-color: #ffffff;
  color: #000000;
  transition: all 200ms;
}
.btn.add-test:hover {
  background-color: #ffffff;
  color: #000000;
  text-decoration: underline;
}
.btn.run-test {
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  transition: all 200ms;
  box-shadow: inset 0 0 0 0 #fac100;
  transform-origin: left;
}
.btn.run-test:hover {
  font-weight: 600;
  box-shadow: inset 90px 0 5px 0 #fac100;
  color: #000000;
}
.test-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.err {
  color: #c60202;
}
.flex {
  display: flex;
}
.open .delete {
  display: flex;
}
.delete {
  display: none;
}
.delete,
.icon {
  z-index: 5;
  background-color: white;
  border-radius: 4px;
  padding: 6px;
}
.delete:hover {
  z-index: 5;
  background-color: white;
  border-radius: 4px;
  padding: 6px;
}

#results {
  margin: 0 auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
}
#results > svg {
  margin: 0 auto;
}
#results > h2 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 14px;
  margin-top: 36px;
}
#results > h1 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  font-size: 24px;
}
#results h3 {
  font-size: 16px;
  font-family: "Ubuntu";
  font-weight: 400;
  margin-bottom: 4px;
}
.graph-result {
  margin-top: 12px;
}
.test-avg:not(:last-child) {
  margin-bottom: 12px;
}

.avg-rect {
  background-color: #ffecb7;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: var(--b-radius);
}
