:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --b-radius: 4px;
  --b-radius-top: var(--b-radius) var(--b-radius) 0 0;
  --b-radius-bot: 0 0 var(--b-radius) var(--b-radius);
}

:root {
  /* graph */
  --graphW: 800;
  --graphH: 400;

  /* colors */
  --color-0: #ffffff;
  --color-05: #f9f9f9;
  --color-10: #000000;
  --light-bdr: 1px solid #dadada;

  /* test colors */
  --color1: hsl(157, 75%, 27%);
  --color2: hsl(120, 75%, 27%);
  --color3: hsl(65, 75%, 27%);
  --color4: hsl(210, 75%, 27%);
  --color5: hsl(300, 75%, 27%);
  --colorlg1: hsl(157, 76%, 87%);
  --colorlg2: hsl(120, 75%, 87%);
  --colorlg3: hsl(65, 75%, 87%);
  --colorlg4: hsl(210, 75%, 87%);
  --colorlg5: hsl(300, 75%, 87%);

  /* yellow */
  --ye-0: #fac100;
  --ye-5: #ffd23d;
  --color-btn-ye: #212121;

  /* btn */
  --btn-bdr: #212121;
  --btn-bg: #242424;
  --btn-hv: #3f3d37;
  /* disabled */
  --btn-ds: #7c7c7c;
  --btn-ds2: #e9e9e9;

  /* error */
  --error: #c60202;
  --errorbg: #fff3f3;

  /* bg */
  --bg: white;
  background-color: var(--bg);
}

#root {
  min-height: 100vh;
}
.dark-mode #root {
  background-color: #21252b;
  /* colors */
  --color-0: #21252b;
  --color-05: #f9f9f9;
  --color-10: #ffffff;
  --light-bdr: 1px solid #4c4e52;

  /* test colors */
  --color1: hsl(157, 76%, 87%);
  --color2: hsl(120, 75%, 87%);
  --color3: hsl(65, 75%, 87%);
  --color4: hsl(210, 75%, 87%);
  --color5: hsl(300, 75%, 87%);
  --colorlg1: hsl(157, 75%, 27%);
  --colorlg2: hsl(120, 75%, 27%);
  --colorlg3: hsl(65, 75%, 27%);
  --colorlg4: hsl(210, 75%, 27%);
  --colorlg5: hsl(300, 75%, 27%);

  /* yellow */
  --ye-0: #fac100;
  --ye-5: #ffd23d;

  /* btn */
  --btn-bdr: #686e7a;
  --btn-bg: #242424;
  --btn-hv: #d8e9ff;
  /* disabled */
  --btn-ds: #7c7c7c;
  --btn-ds2: #e9e9e9;

  /* error */
  --error: #c60202;
  --errorbg: #fff3f3;

  /* scrollbar */
  --scroll-bar: #d8e9ff var(--color-0);
}

#root {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
#root:only-child {
  width: fit-content;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  scrollbar-color: var(--scroll-bar);
  scrollbar-width: thin;
}
html {
  scroll-behavior: smooth;
}
html.dark-mode {
  scroll-behavior: smooth;
  scrollbar-color: #d8e9ff #21252b;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Ubuntu", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

button {
  border: 0;
}

/* darkmode toggle */

.dark-btn {
  cursor: pointer;
  right: 14px;
  top: 14px;
  position: absolute;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-10);
  transition: 200ms ease;
  width: 39px;
  height: 39px;
  overflow: hidden;
}
.icon-container {
  width: 100%;
}
.icon-tr {
  transition: 400ms cubic-bezier(0.66, 0.86, 0.66, 1.14);

  display: flex;
  align-items: center;
  justify-content: left;
  gap: 9px;
  padding: 0 2px;
}
.dark-btn.active .icon-tr {
  transform: translateX(-33px);
}
.dark-btn svg {
  color: var(--color-0);
  width: 24px;
  height: 24px;
  flex: none;
  transition: 200ms ease;
}
.dark-btn:hover svg {
  transform: scale(0.83);
}
.dark-btn:hover {
  transform: scale(1.2);
}

/* LOGO */

.complete-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  aspect-ratio: 1;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  resize: both;
  z-index: 5;
  /* alterar dps que for fazer efieto */
  margin: 0 auto;
}

.car-logo {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.car-logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Mantém a proporção */
}
.text-logo > div {
  color: var(--color-10);
  position: relative;
}
.text-logo {
  position: absolute;
  width: fit-content;
  right: 11%;
  bottom: 24%;
}
.text-logo > div:nth-child(1) {
  font-family: "Inter";
  font-weight: 700;
  font-size: 28px;
  line-height: 0.5;
  text-align: right;
}
.text-logo > div:nth-child(2) {
  font-size: 14px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}
.mini .car-logo {
  width: 60%;
  left: 38%;
  bottom: 4%;
}
.mini .text-logo {
  bottom: 24%;
  left: 30%;
}

.mini .text-logo > div:nth-child(1) {
  text-align: left;
}
.mini .complete-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  aspect-ratio: 1;
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  resize: both;
}

.codes {
  display: grid;
  gap: 10px;
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 48px;
}
.setup.err {
  color: var(--error);
}
.setup.err input {
  color: var(--error);
  background-color: var(--errorbg);
  border: 1px solid var(--error);
}
.setup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  color: var(--color-10);
  margin: 10px 0 16px 0;
}
.setup input {
  padding: 3px 0 3px 13px;
  font-size: 14px;
  width: 70px;
  text-align: center;
  font-weight: 600;
  border: none;
  background-color: var(--color-0);
  color: var(--color-10);
  border-radius: 8px;
  border: var(--light-bdr);
  font-family: "Ubuntu";
}
.toogle-code > button {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 8px 14px;
  border: var(--light-bdr);
  background-color: var(--color-0);
  border-radius: var(--b-radius);
  transition: border 200ms;
}
.toogle-code.open > button {
  border-radius: var(--b-radius-top);
}
.open .code-box {
  border-radius: var(--b-radius-bot);
  border: var(--light-bdr);
  border-top: 0;
  display: flex;
  flex-direction: row;
  position: relative;
}
.code-box > div {
  border-radius: var(--b-radius-bot);
  width: 0;
  flex-grow: 1;
}
.code-box > div > div,
.code-box > div > div > div {
  border-radius: var(--b-radius-bot);
}
.open .code-box > div > div {
  height: fit-content;
}

.toogle-code.open .icon svg {
  transform: rotate(-180deg);
}
.code-box > div > div {
  height: 0;
}
.toogle-code > button:hover {
  border: 1px solid var(--btn-bdr);
}
.btn {
  border-radius: var(--b-radius);
  font-weight: 500;
  padding: 10px 0;
  background-color: var(--btn-bg);
  width: fit-content;
  color: var(--color-05);
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 200ms;
  width: 160px;
}

.btn.add-test {
  background-color: var(--color-10);
  color: var(--color-0);
}
.btn.add-test:hover {
  background-color: var(--btn-hv);
}
.btn.run-test {
  background-color: var(--ye-0);
  color: var(--color-btn-ye);
  font-weight: 600;
  transform-origin: left;
}
.btn.run-test:hover {
  font-weight: 600;
  background-color: var(--ye-5);
}
.btn:disabled {
  cursor: not-allowed;
  color: var(--btn-ds);
  background-color: var(--btn-ds2);
}
.btn:disabled:hover {
  color: var(--btn-ds);
  background-color: var(--btn-ds2);
}
.test-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.err {
  color: var(--error);
}
.flex {
  display: flex;
}
.open .delete {
  display: flex;
}
.delete {
  display: none;
}
.delete,
.icon {
  color: var(--color-10);
  z-index: 5;
  border-radius: 4px;
  padding: 6px;
}

#results,
#results g > text {
  color: var(--color-10);
  fill: var(--color-10);
}
svg.violin > g > g > path {
  stroke: var(--color-10);
}
svg.boxplot > g > g > line {
  stroke: var(--color-10);
}
svg.boxplot > g > g > rect {
  stroke: var(--color-10);
}

#results {
  margin: 0 auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
}
#results > svg {
  margin: 0 auto;
}
#results > h2 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 14px;
  margin-top: 36px;
}
#results > h1 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  font-size: 24px;
}
#results h3 {
  font-size: 16px;
  font-family: "Ubuntu";
  font-weight: 400;
  margin-bottom: 4px;
}
.graph-result {
  margin-top: 12px;
}
.test-avg:not(:last-child) {
  margin-bottom: 12px;
}

.avg-rect {
  background-color: #ffecb7;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: var(--b-radius);
  box-sizing: border-box;
}

@media (max-width: 62.5em) {
  #results,
  .codes {
    max-width: 80%;
  }
}
@media (max-width: 36.5em) {
  #results,
  .codes {
    max-width: 90%;
  }
}
@media (max-width: 25em) {
  .btn {
    width: 100%;
    padding: 10px 6px;
  }
}
